.tile_0 {
  grid-column: 1;
  background-color: white;
}

.tile_1 {
  grid-column: 1;
  background-color: black;
}

.tile_2 {
  grid-column: 1;
  background-color: white;
}

.tile_3 {
  grid-column: 1;
  background-color: black;
}

.tile_4 {
  grid-column: 1;
  background-color: white;
}

.tile_5 {
  grid-column: 1;
  background-color: black;
}

.tile_6 {
  grid-column: 1;
  background-color: white;
}

.tile_7 {
  grid-column: 1;
  background-color: black;
}

.tile_8 {
  grid-column: 1;
  background-color: white;
}

.tile_9 {
  grid-column: 1;
  background-color: black;
}

.tile_10 {
  grid-column: 1;
  background-color: white;
}

.tile_11 {
  grid-column: 1;
  background-color: black;
}

.tile_12 {
  grid-column: 1;
  background-color: white;
}

.tile_13 {
  grid-column: 1;
  background-color: black;
}

.tile_14 {
  grid-column: 1;
  background-color: white;
}

.tile_15 {
  grid-column: 1;
  background-color: black;
}

.tile_16 {
  grid-column: 1;
  background-color: white;
}

.tile_17 {
  grid-column: 1;
  background-color: black;
}

.tile_18 {
  grid-column: 1;
  background-color: white;
}

.tile_19 {
  grid-column: 1;
  background-color: black;
}

.tile_20 {
  grid-column: 1;
  background-color: white;
}

.tile_21 {
  grid-column: 1;
  background-color: black;
}

.tile_22 {
  grid-column: 1;
  background-color: white;
}

.tile_23 {
  grid-column: 1;
  background-color: black;
}

.tile_24 {
  grid-column: 1;
  background-color: white;
}

.tile_25 {
  grid-column: 1;
  background-color: black;
}

.tile_26 {
  grid-column: 1;
  background-color: white;
}

.tile_27 {
  grid-column: 1;
  background-color: black;
}

.tile_28 {
  grid-column: 1;
  background-color: white;
}

.tile_29 {
  grid-column: 1;
  background-color: black;
}

.tile_30 {
  grid-column: 1;
  background-color: white;
}

.tile_31 {
  grid-column: 1;
  background-color: black;
}

.tile_32 {
  grid-column: 1;
  background-color: white;
}

.tile_33 {
  grid-column: 1;
  background-color: black;
}

.tile_34 {
  grid-column: 1;
  background-color: white;
}

.tile_35 {
  grid-column: 1;
  background-color: black;
}

.tile_36 {
  grid-column: 1;
  background-color: white;
}

.tile_37 {
  grid-column: 1;
  background-color: black;
}

.tile_38 {
  grid-column: 1;
  background-color: white;
}

.tile_39 {
  grid-column: 1;
  background-color: black;
}

.tile_40 {
  grid-column: 1;
  background-color: white;
}

.tile_41 {
  grid-column: 1;
  background-color: black;
}

.tile_42 {
  grid-column: 1;
  background-color: white;
}

.tile_43 {
  grid-column: 1;
  background-color: black;
}

.tile_44 {
  grid-column: 1;
  background-color: white;
}

.tile_45 {
  grid-column: 1;
  background-color: black;
}

.tile_46 {
  grid-column: 1;
  background-color: white;
}

.tile_47 {
  grid-column: 1;
  background-color: black;
}

.tile_48 {
  grid-column: 1;
  background-color: white;
}

.tile_49 {
  grid-column: 1;
  background-color: black;
}

.tile_50 {
  grid-column: 1;
  background-color: white;
}

.tile_51 {
  grid-column: 1;
  background-color: black;
}

.tile_52 {
  grid-column: 1;
  background-color: white;
}

.tile_53 {
  grid-column: 1;
  background-color: black;
}

.tile_54 {
  grid-column: 1;
  background-color: white;
}

.tile_55 {
  grid-column: 1;
  background-color: black;
}

.tile_56 {
  grid-column: 1;
  background-color: white;
}

.tile_57 {
  grid-column: 1;
  background-color: black;
}

.tile_58 {
  grid-column: 1;
  background-color: white;
}

.tile_59 {
  grid-column: 1;
  background-color: black;
}

.tile_60 {
  grid-column: 1;
  background-color: white;
}

.tile_61 {
  grid-column: 1;
  background-color: black;
}

.tile_62 {
  grid-column: 1;
  background-color: white;
}

.tile_63 {
  grid-column: 1;
  background-color: black;
}

/*# sourceMappingURL=chessborad.css.map */
