body{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.calculator{
  margin: 0;
  background-color: blueviolet;
  width: 90vw;
  height: 90vh;
  display: grid;
  place-items: center;
  grid-gap: 1px;
  grid-template-areas:   "txt txt txt txt"
                         "nm1 nm2 nm3 dvi"
                         "nm4 nm5 nm6 min"
                         "nm7 nm8 nm9 plu"
                         "ptk nm0 eql mul"
}
//.calculator div {
//  background-color: aqua;
//}
@for $i from 0 through 9 {
  .number#{$i} {
    margin: 0;
    display: grid;
    place-items: center;

    border-radius: 10px;
    grid-area: "nm#{$i}";
  }
}

.numbers {
  border-radius: 10px;
  width: 20vw;
  height: 8vh;
}

.operator{
  border-radius: 10px;
  width: 5vw;
  height: 8vh;
}

.text{
  background-color: aqua;
  width: 80vw;
  height: 14vh;
  border-radius: 10px;
  grid-area: txt;
}

.dot{
  grid-area: ptk;
}

.equal{
  grid-area: eql;
}

.divide{
  grid-area: dvi;
}

.multiply{
  grid-area: mul;
}

.plus{
  grid-area: plu;
}

.minus{
  grid-area: min;
}

.input{
  position: relative;
  right: 14vw;
  top: -2vh;
  text-align: right;
}
.oldInput{
  font-size: 70%;
  //font-style: italic;
  position: relative;
  right: 14vw;
  top: -5vh;
  text-align: right;
}

.delete{
  border-radius: 10px;
  position: relative;
  right: -32vw;
  top: 4vh;
  width: 8vw;
  height: 8vh;
}

button {
  background-color: aquamarine;
}