body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;

    background-image: url("../public/Koeln-Dom.jpg");
    background-size: 100% 100%;
    /* object-fit: cover; */
}

/* Box css */

.container {
    height: 94vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.box {
    width: 40vw;
    min-width: 500px;
    height: 50vh;
    /* background-color: aqua; */
    backdrop-filter: blur(5px);
    border-radius: 20px;
    display: grid;
    place-items: center;
}

/* Header css */

.header {
    margin: 0;
    /* padding: 0; */
    width: calc(100vw - 20px);
    height: 6vh;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

/* UseHighscore css */

.highscores {
    height: 20vh;
    max-height: 20vh;
    overflow-y: auto;
}

.highscoresList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.highscoresList li {
    margin-bottom: 5px;
}
